<ion-header>
  <ion-toolbar>
    <ion-title> DO IT NOW </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="background">
    <div class="content-container">
      <h1>Hola! Soy DO IT NOW, tu lista de tareas personal</h1>
      <p>Te ayudaré a recordar y organizar tus tareas diarias</p>
      <ion-button expand="full" color="secondary" (click)="startClicked()"
        >Empecemos</ion-button
      >
      <ion-button expand="full" color="success" (click)="compartirEnWhatsApp()"
        >Compartir en Whatsapp</ion-button
      >
    </div>
  </div>
</ion-content>
